# Python standard library

In [283]:
# type examples

x = 5
type(x)

int

In [284]:
x = 'hello'
type(x)

str

In [285]:
x.capitalize()

'Hello'

In [286]:
x.count('l')

2

In [287]:
greet = "hello"
name = "Python"

In [288]:
# concatenation
print(greet + name)

print(greet + ' ' + name)

helloPython
hello Python

In [289]:
"greet name".format(greet='Hello', name='QT')

'greet name'

In [290]:
f"{greet} {name}"

'hello Python'

In [291]:
org = "QT"
print(f"Welcome to {org}")

Welcome to QT

In [292]:
name = "          QT             "
print(name)
print(name.replace(" ", ""))
print(name.strip())
print(name.rstrip())

          QT
QT
QT
          QT

In [293]:
name = "------------QT-----------"
print(name)
print(name.replace("-", ""))
print(name.strip('-'))
print(name.rstrip('-'))
print(name.lstrip('-'))

------------QT-----------
QT
QT
------------QT
QT-----------

# Generator

In [294]:
# without generator
def factors(number):
    """This method will cacluate factors of a number
    """
    results = []
    for index in range(2, number):
        if number%index == 0:
            results.append(index)
    return results

In [295]:
for factor in factors(100):
    print(factor)

2
4
5
10
20
25
50

In [296]:
# generator
def factors(number):
    """This method will cacluate factors of a number
    """
    for index in range(2, number):
        if number%index == 0:
            yield index

In [297]:
for factor in factors(100):
    print(factor)

2
4
5
10
20
25
50

In [298]:
# list methods in python
courses = []
type(courses)

list

In [299]:
courses.append('Python')
courses.append('DevOps')

In [300]:
courses

['Python', 'DevOps']

In [301]:
courses.append('AWS')
courses.append('Azure')
courses

['Python', 'DevOps', 'AWS', 'Azure']

In [302]:
# convert list to tuple
course_tuple = tuple(courses)
print(course_tuple)

('Python', 'DevOps', 'AWS', 'Azure')

In [303]:
x = [ 1, 2]
y = [2,3]

In [304]:
xs = set(x)
ys = set(y)
print(xs.intersection(ys))
print(xs.union(ys))
print(xs.difference(ys))

{2}
{1, 2, 3}
{1}

# dictionary

In [305]:
duration = {'Degree': 3, 'Engineering': 4, 'PostGraduation': 2}

In [306]:
duration['Degree']

3

In [307]:
duration['school']

KeyError: 'school'

In [126]:
# membership
'school' in duration

False

In [127]:
'Degree' in duration

True

In [128]:
'school' not in duration

True

In [206]:
duration['Degree']

3

In [129]:
duration['Degree'] = 4

In [130]:
duration['Degree']

4

In [308]:
duration['School'] = 10

In [309]:
duration

{'Degree': 3, 'Engineering': 4, 'PostGraduation': 2, 'School': 10}

In [311]:
# iterate with names(keys)
for item in duration:
    print(item)

Degree
Engineering
PostGraduation
School

In [313]:
# both name and value
for course, time in duration.items():
    print(f"{course} ---> {time} ")

Degree ---> 3
Engineering ---> 4
PostGraduation ---> 2
School ---> 10

In [315]:
for time in duration.values():
    print(time)

3
4
2
10

In [316]:
courses = ['AWS', 'Azure']
time = [3,3]

In [318]:
index = 0
duration_dict = dict()
while index < len(courses):
    duration_dict[courses[index]] = time[index]
    index += 1
print(duration_dict)

{'AWS': 3, 'Azure': 3}

In [320]:
dur_dict = zip(courses,time)
dict(dur_dict)

{'AWS': 3, 'Azure': 3}