# Dictionaries

In [27]:
state_capitals = {
    "Telangana": "Hyderabad",
    "Maharastra": "Mumbai"
}

In [28]:
type(state_capitals)

dict

In [29]:
state_capitals['Telangana']

'Hyderabad'

In [30]:
state_capitals['Maharastra']

'Mumbai'

In [31]:
state_capitals["AndhraPradesh"] = "Amaravati"

In [32]:
state_capitals["AndhraPradesh"]

'Amaravati'

In [33]:
state_capitals

{'Telangana': 'Hyderabad',
 'Maharastra': 'Mumbai',
 'AndhraPradesh': 'Amaravati'}

In [38]:
# iterating dictionary
for state in state_capitals:
    print(type(state))
    print(state)
    print(state_capitals[state])

<class 'str'>
Telangana
Hyderabad
<class 'str'>
Maharastra
Mumbai
<class 'str'>
AndhraPradesh
Amaravati

In [39]:
# iterating dictionary
for state, capital in state_capitals.items():
    print(state)
    print(capital)

Telangana
Hyderabad
Maharastra
Mumbai
AndhraPradesh
Amaravati

In [40]:
# Membership operators
# in and not in
# apply on any sequences
states_list = ['AP', 'TG', 'MH', 'KA']
states_tuple = tuple(states_list)
states_set = set(states_list)

In [41]:
'AP' in states_list

True

In [42]:
'TN' in states_tuple

False

In [43]:
'OD' in states_set

False

In [44]:
'AndhraPradesh' in state_capitals

True

In [45]:
'PB' not in states_list

True

In [46]:
'Amaravati' in state_capitals.values()

True

# i have two lists and i want to find common items in two lists

In [47]:
list_1 = [1, 2, 4, 8]
list_2 = [2, 4, 6]

In [48]:
set_list_1 = set(list_1)
set_list_2 = set(list_2)
set_list_1.intersection(set_list_2)

{2, 4}

In [51]:
# If i want all unique items in both lists
list(set_list_1.union(set_list_2))

[1, 2, 4, 6, 8]

In [53]:
# i have two listss
states = ['AP', 'TG', 'TN']
capitals = ['Amaravati', 'Hyderabad', 'Chennai']
capital_dict = dict(zip(states, capitals))
capital_dict

{'AP': 'Amaravati', 'TG': 'Hyderabad', 'TN': 'Chennai'}